@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

@keyframes blinkCaret {

  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}

.typing {
  white-space: nowrap;
  /* Prevent line break */
  overflow: hidden;
  /* Hide overflowing text */
  border-right: 2px solid white;
  /* Cursor */
  animation: typing 3s steps(30, end), blinkCaret 1.5s step-end infinite;
  width: 0;
  /* Start width at 0, animates to 100% */
}